.city {
    min-width: 30%;
    margin: 5px 0;
    padding: 10px;
    line-height: 0;
    text-align: center;
    color: #fff;
}

.city:hover {
    cursor: pointer;
    text-decoration: underline;
}

h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 0.04em;
    font-weight: 300;
}